/* import roboto font */
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

/* Global CSS variables */
:root {
  --main-bg: #10141e;
  --primary-color: #fc4747;
  --secondary-color: #5a698f;
  --dark-secondary-color: #161d2f;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  line-height: 1.5;
}

body {
  height: 100%;
  padding-left: 164px;
  background-color: var(--main-bg);
  color: var(--white);
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 0;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

ul {
  list-style: none;
}

/* navbar */
.nav {
  min-width: 96px;
  max-width: 96px;
  /* width: min(100%, 96px); */
  background-color: var(--dark-secondary-color);
  padding: 32px 0;
  border-radius: 20px;
  position: fixed;
  z-index: 9999;
  top: 32px;
  bottom: 32px;
  left: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-logo {
  margin-bottom: 75px;
}

.nav-list {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.main {
  padding-top: 64px;
}

/* media queries */
/* tablet */
@media (max-width: 900px) {
  body {
    padding-left: 0;
    padding-top: 128px;
  }
  .main {
    padding-top: 0;
    padding-left: 32px;
    padding-right: 32px;
  }
  .nav {
    max-width: 100%;
    min-width: 93%;
    height: 72px;
    padding: 0 32px;
    top: 23px;
    left: 24px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .site-logo {
    margin-bottom: 0;
  }

  .nav-list {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }
}

/* mobile */
@media (max-width: 576px) {
  body {
    padding-top: 80px;
  }
  .nav {
    height: 56px;
    left: 0;
    right: 0;
    top: 0;
    border-radius: 0;
  }

  .site-logo__img {
    width: 25px;
    height: 20px;
  }

  .nav-list {
    gap: 24px;
  }

  .nav-link__icon {
    width: 16px;
    height: 16px;
  }

  .profile-img {
    width: 24px;
    height: 24px;
  }
}

/* search movies */
.search__form {
  padding-right: 36px;
}

.search-input {
  display: flex;
  align-items: center;
  gap: 24px;
}

.search-input input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding: 14px 0;
  border-bottom: 1px solid transparent;
  color: white;
}

.search-input input:focus {
  border-bottom: 1px solid #979797;
}
