.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-logo {
  margin-top: 78px;
  margin-bottom: 83px;
}

.register-card {
  background-color: var(--dark-secondary-color);
  width: 400px;
  padding: 32px;
  border-radius: 20px;
}

.register-card h1 {
  font-weight: 300;
  margin-bottom: 22px;
}

.sign-input {
  background-color: transparent;
  color: var(--white);
  width: 100%;
  padding: 18px 16px;
  border: none;
  display: block;
  outline: none;
  border-bottom: 1px solid var(--secondary-color);

  &:focus-within {
    border-bottom: 1px solid rgb(19, 235, 19);
  }
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 14px 0;
  background-color: var(--primary-color);
  color: var(--white);
  margin-top: 40px;
  margin-bottom: 24px;
  border-radius: 6px;
  transition: all 0.3s;

  &:hover {
    opacity: 0.6;
  }
}

.alert-msg {
  text-align: center;
  font-weight: 300;
}

.alert-msg a {
  color: var(--primary-color);

  &:hover {
    color: dodgerblue;
    text-decoration: underline;
  }
}
