.tranding {
  width: 100%;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

.tranding-title {
  margin-top: 35px;
  margin-bottom: 25px;
  font-weight: 500;
}

.tranding__videos {
  overflow-x: scroll;
  display: flex;
  gap: 40px;
}

.tranding__video {
  min-width: 470px;
  height: 230px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  border-radius: 8px;
}

.overlay-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.tranding__video:hover .overlay-bg {
  z-index: -1;
}

.tranding__video-img {
  transition: all 0.3s ease;
}

.tranding__video:hover .tranding__video-img {
  transform: scale(1.3);
}

.tranding-video__save-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(16, 20, 30, 0.6);
  position: absolute;
  top: 16px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;

  &:hover {
    background-color: rgba(16, 20, 30, 0.8);
  }
}

.tranding-video__content {
  position: absolute;
  z-index: 99;
  bottom: 24px;
  left: 24px;
}

.tranding-video__content > div {
  display: flex;
  gap: 16px;
}

.vidoe-type {
  display: flex;
  align-items: center;
  gap: 4px;
}

@media (max-width: 560px) {
  .tranding-title {
    font-size: 20px;
  }

  .tranding__videos {
    gap: 24px;
  }

  .tranding__video {
    min-width: 300px;
    height: 180px;
  }
}

/* recommended */
.recommended {
  margin-top: 40px;
  padding-right: 36px;
}

.recommended-title {
  margin-bottom: 32px;
  font-weight: 500;
}

.recommended-videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  column-gap: 40px;
  row-gap: 32px;
}

.recommended-video {
  position: relative;
}

.recommended-video__img {
  min-width: 100%;
}

.recomended-video__save-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  &:hover {
    background-color: rgba(16, 20, 30, 0.6);
  }
}

.recommended-video__content > div {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
  font-size: 14px;
  color: #aeadad;
}

.video-type {
  display: flex;
  gap: 4px;
  align-items: center;
}

.recommended-video__title {
  font-weight: 500;
  font-size: 16px;
}

@media (max-width: 900px) {
  .recommended {
    padding-right: 0;
  }

  .recommended-videos {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    column-gap: 29px;
    row-gap: 24px;
  }
}
/* mobile device */
@media (max-width: 576px) {
  .recommended-videos {
    grid-template-columns: repeat(auto-fit, minmax(164px, 1fr));
    column-gap: 15px;
    row-gap: 16px;
  }
  .recommended-video__title {
    font-size: 14px;
  }
}
